[submodule "vimrc/bundle/clang_complete"]
	path = vimrc/bundle/clang_complete
	url = git://github.com/Rip-Rip/clang_complete.git
[submodule "vimrc/bundle/command-t"]
	path = vimrc/bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "vimrc/bundle/nerdtree"]
	path = vimrc/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vimrc/bundle/taglist"]
	path = vimrc/bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
